#vartika {
    border-radius: 50px;
    width: 300px;
}


#dharmesh {
    border-radius: 100px;
    width: 400px;
}

#h {
    text-align: center;
}

img {

    transition: transform.2s;
    border: 10px solid #AAAAAA;

}

img:hover {
    transform: scale(0.9);
}
